<!--
*
* File Name:  sidebar01.html
* File Desc:  This file is main UI that is called from menus in Sheets GUI.
*
* Notes: 1) Calls functions either to do things or build the sidebars.
*
-->


<body onload = "refreshSelectsFromSheet()">
  <style>
    .sidebarmain {
       font: 15px arial, sans-serif;
     }
  </style>
  <!-- The CSS package above applies Google styling to buttons and other elements. -->
  <style>
    .branding-below {
       bottom: 56px;
       top: 0;
     }
    .branding-text {
       left: 7px;
       position: relative;
       top: 3px;
     }
    .col-contain {
      overflow: hidden;
      }
    .col-one {
      float: left;
      width: 50%;
      }
    .logo {
      vertical-align: middle;
      }
    .radio-spacer {
      height: 20px;
      }
    .width-100 {
      width: 100%;
      }
  </style>
  <!-- The CSS package below applies to the tabs. -->
  <style>
    /* Style the tab */
    .tab {
      align-content: center;
      border: none solid #ccc;
      border-spacing: none;
      overflow: auto;
      padding: none;
      }
    /* Style the buttons that are used to open the tab content */
    .tab button {
      color: #000000;
      background-color: #f1f1f1;
      float: center;
      border: outset;
      outline: none;
      cursor: pointer;
      padding: none;
      transition: 0.3s;
      }
    /* Change background color of buttons on hover */
    .tab button:hover {
      background-color: #ddd;
      }
    /* Create an active/current tablink class */
    .tab button.active {
      background-color: #aaaaaa;
      border: inset;
      }
    /* Style the tab content */
    .tabcontent {
      display: none;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-top: none;
      }
  </style>


<!-- PAGE CONTENT -->
  <div class="sidebarmain">
    <h1>Start Page
      <input type="button" value="Refresh Controls" id="refreshControls1" onclick="refreshControls();" />
    </h1>
    <div>
      <hr>
      <div>
        <h3>Configuration</h3>
        <p>Current Year: <select id="selectYearCurrent" onchange="saveYear()">
            <option> Choose year </option>
          </select ></p>
        <p>Current Term: <select id="selectTermCurrent" onchange="saveTerms()">
            <option> Choose term </option>
          </select >  Next Term: <span id="termNext">_</span>
        <p>Pod: <select id="selectPod" onchange="savePod()">
            <option> Choose pod </option>
          </select ></p>
      </div>
      <hr>

      <!-- Tab links -->
      <div class="tab">
        <button class="tablinks" onclick="openActionTab(event, 'tabSetup')" id="defaultTabOpen">Setup</button>
        <button class="tablinks" onclick="openActionTab(event, 'tabStartOfYear')">Start of Year</button>
        <button class="tablinks" onclick="openActionTab(event, 'tabPerTerm')">Per Term</button>
        <button class="tablinks" onclick="openActionTab(event, 'tabOther')">Other</button>
      </div>
      <!-- Tab content -->
      <div id="tabSetup" class="tabcontent">
        <h3>Load Student Data First!!!</h3>
          <ol>
            <li>Goto <q>Import</q> sheet and export only the yellow columns from AdminPlus.
            <li>Empty yellow columns and past in data. DO NOT change order of nor number of columns.
            <li><input type="button" value="Process" id="processStudentData" onclick="processStudentData();" /> student data for next steps.
            <li><input type="button" value="Refresh" id="refreshControls2" onclick="refreshControls();" /> data in controls.
          </ol>
      </div>
      <div id="tabStartOfYear" class="tabcontent">
        <h3>Global Setup</h3>
        <p>1. <input type="button" value="Create Pods" id="createPods" onclick="createPods();" /> Creates folders for each Pod.</p>
        <hr>
        <h3>Pod Setup</h3>
        <p>2. <input type="button" value="Create Reports" id="createReports" onclick="createReports();" /> For selected Pod, creates one file per student.</p>
        <p>3. <input type="button" value="Merge Names" id="setStudentNames" onclick="setStudentNames();" /> For selected Pod, merges student name in file.</p>
      </div>
      <div id="tabPerTerm" class="tabcontent">
        <h3>Per Term</h3>
        <p>1. <input type="button" value="Change Math" id="changeMathStandards" onclick="changeMathStandards();" /> Level II Pods only! Change Math Standards prior to entering marks for all terms but first term.</p>
        <p>2. <input type="button" value="Archive Reports" id="archiveReports" onclick="archiveReports();" /> After all Progress Reports mailed, change permissions manually.</p>
      </div>
      <div id="tabOther" class="tabcontent">
        <h3>Backup/Restore</h3>
        <p>
          <input type="button" value="Backup" id="backupReports" onclick="backupReports();" />
          <input type="button" value="Restore" id="restoreReports" onclick="restoreReports();" /> Per Pod.
        </p>
        <hr>
        <h3>Change Templates / Folders</h3>
        <p>
          <input type="button" value="K" id="setTemplate0K" onclick="setTemplate('0K');" />
          <input type="button" value="1" id="setTemplate01" onclick="setTemplate('01');" />
          <input type="button" value="2" id="setTemplate02" onclick="setTemplate('02');" />
          <input type="button" value="3" id="setTemplate03" onclick="setTemplate('03');" />
          <input type="button" value="4" id="setTemplate04" onclick="setTemplate('04');" />
        <p>
          <input type="button" value="Level 1" id="setFolderLevel01" onclick="setFolderLevel('01');" />
          <input type="button" value="Level 2" id="setFolderLevel02" onclick="setFolderLevel('02');" />
           - Top level folder.
        </p>
        <hr>
        <h3>Search/Replace by Pod</h3>
        <p>
          Seach for:<input type="text" id="stringToFind" />
          Replace with:<input type="text" id="stringToReplace" />
          <input type="button" value="Submit" id="searchReplaceByPod" onclick="startSearchReplaceByPod();" />
        <p>
      </div>
    </div>
  </div>
</body>

<!-- FANCY JAVASCRIPT STUFF -->
<script>
  /**
   * The purpose of this is to switch the tabs.
   *
   */
  function openActionTab(evt, tabClicked) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(tabClicked).style.display = "block";
    evt.currentTarget.className += " active";
  }


  /**
   * The purpose of this is to refresh available options all selects from appropriate sheets.
   *
   */
  function refreshSelectsFromSheet() {
    getSelectYearCurrent();
    getSelectTermCurrent();
    getSelectPod();
    document.getElementById("defaultTabOpen").click();
  };



  /**
   * The purpose of this is to allow user to refresh available options all selects from appropriate sheets.
   *
   */
  function refreshControls() {
    refreshSelectsFromSheet();
  }


  /**
   * The purpose of this is to determine what the nextTerm should be from passed in currentTerm.
   *
   */
  function determineNextTermValue(passedValue) {
    switch (passedValue) {
      case "NA":
        var nextTermValue = "NA";
        break;
      case "Q1":
        var nextTermValue = "Q2";
        break;
      case "Q2":
        var nextTermValue = "Q3";
        break;
      case "Q3":
        var nextTermValue = "Q4";
        break;
      case "Q4":
        var nextTermValue = "NA";
        break;
      case "T1":
        var nextTermValue = "T2";
        break;
      case "T2":
        var nextTermValue = "T3";
        break;
      case "T3":
        var nextTermValue = "NA";
        break;
      case "S1":
        var nextTermValue = "S2";
        break;
      case "S2":
        var nextTermValue = "NA";
        break;
      case "MY":
        var nextTermValue = "EOY";
        break;
      case "EOY":
        var nextTermValue = "NA";
        break;
      default:
        var nextTermValue = "ERROR: Next term not defined for " + selectedValue + ".";
        break;
    }
    return(nextTermValue);
  };

  /**
   * The purpose of this is to populate options for Current Year select element.
   *
   */
  function getSelectYearCurrent() {
    google.script.run
      .withFailureHandler(onSelectYearCurrentFailure)
      .withSuccessHandler(setSelectYearCurrentOptions)
      .getSelectYearOptionsFromSheet();
  };

  window.setSelectYearCurrentOptions = function(argReturnedData) {
    var selectYearElement = document.getElementById("selectYearCurrent");
    selectYearElement.options.length = 0;
    // add in options up to second to last, that is saved value
    for(var i = 0; i < argReturnedData.length - 1; i++) {
      var option = document.createElement("option");
      option.text = argReturnedData[i];
      selectYearElement.add(option);
    };
    var selectYearIndex = parseInt(argReturnedData[argReturnedData.length - 1]);
    selectYearElement.selectedIndex = selectYearIndex;
  };

  window.onSelectYearCurrentFailure = function(err) {
    alert('There was an error getting terms for select of Current Term! ' + err.message);
  };

  /**
   * The purpose of this is to save Year to the sheet.
   *
   */
  function saveYear() {
    var obj = document.getElementById("selectYearCurrent");
    var selectedValue = obj.options[obj.selectedIndex].text;
    var arrayToBePassed = [];
    arrayToBePassed[0] = selectedValue;
    google.script.run
      .withFailureHandler(onSaveSelectedYearFailure)
      .withSuccessHandler(onSaveSelectedYearSuccess)
      .saveSelectedYearToSheet(arrayToBePassed);
  };

  window.onSaveSelectedYearSuccess = function(textValueCurrent) {
    //alert('Saved Year: ' + textValueCurrent);
  };

  window.onSaveSelectedYearFailure = function(err) {
    alert('There was an error saving Pod! ' + err.message);
  };

  /**
   * The purpose of this is to populate options for Current Term select element.
   *
   */
  function getSelectTermCurrent() {
    google.script.run
      .withFailureHandler(onSelectTermCurrentFailure)
      .withSuccessHandler(setSelectTermCurrentOptions)
      .getSelectTermOptionsFromSheet();
  };

  window.setSelectTermCurrentOptions = function(argReturnedData) {
    var selectTermElement = document.getElementById("selectTermCurrent");
    selectTermElement.options.length = 0;
    // add in options up to second to last, that is saved value
    for(var i = 0; i < argReturnedData.length - 1; i++) {
      var option = document.createElement("option");
      option.text = argReturnedData[i];
      selectTermElement.add(option);
    };
    var selectTermIndex = parseInt(argReturnedData[argReturnedData.length - 1]);
    selectTermElement.selectedIndex = selectTermIndex;
    var nextTermValue = determineNextTermValue(argReturnedData[selectTermIndex]);
    document.getElementById("termNext").innerHTML = nextTermValue;
  };

  window.onSelectTermCurrentFailure = function(err) {
    alert('There was an error getting terms for select of Current Term! ' + err.message);
  };

  /**
   * The purpose of this is to display the Next Term and save both to the sheets.
   *
   */
  function saveTerms() {
    var obj = document.getElementById("selectTermCurrent");
    var selectedValue = obj.options[obj.selectedIndex].text;
    var arrayToBePassed = [];
    var nextTermValue = determineNextTermValue(selectedValue);
    if ( nextTermValue[0] + nextTermValue[1] + nextTermValue[2] + nextTermValue[3] + nextTermValue[4] == "ERROR" ) {
      // this is a bad hard-code, should find what is saved and reload
      document.getElementById("selectTermCurrent").selectedIndex = 0;
      var selectedValue = "T1";
      var nextTermValue = "T2";
    }
    arrayToBePassed[0] = selectedValue;
    arrayToBePassed[1] = nextTermValue;
    document.getElementById("termNext").innerHTML = nextTermValue;
    google.script.run
      .withFailureHandler(onSaveSelectedTermFailure)
      .withSuccessHandler(onSaveSelectedTermSuccess)
      .saveSelectedTermsToSheet(arrayToBePassed);
  };

  window.onSaveSelectedTermSuccess = function(textValueCurrent) {
    //alert('Saved Current Term: ' + textValueCurrent);
  };

  window.onSaveSelectedTermFailure = function(err) {
    alert('There was an error saving Current Term! ' + err.message);
  };


 /**
   * The purpose of this populate options for Pod select element.
   *
   */
  function getSelectPod() {
    google.script.run
      .withFailureHandler(onSelectPodFailure)
      .withSuccessHandler(setSelectPodOptions)
      .getSelectPodOptionsFromSheet();
  };

  window.setSelectPodOptions = function(argReturnedData) {
    var selectPodElement = document.getElementById("selectPod");
    selectPodElement.options.length = 0;
    for(var i = 0; i < argReturnedData.length - 1; i++) {
      var option = document.createElement("option");
      option.text = argReturnedData[i];
      selectPodElement.add(option);
    };
    var selectPodIndex = parseInt(argReturnedData[argReturnedData.length - 1]);
    selectPodElement.selectedIndex = selectPodIndex;
  };

  window.onSelectPodFailure = function(err) {
    alert('There was an error getting list of pods to populate select! ' + err.message);
  };


  /**
   * The purpose of this is to display the Next Term and save both to the sheets.
   *
   */
  function savePod() {
    var obj = document.getElementById("selectPod");
    var selectedValue = obj.options[obj.selectedIndex].text;
    var arrayToBePassed = [];
    arrayToBePassed[0] = selectedValue;
    google.script.run
      .withFailureHandler(onSaveSelectedPodFailure)
      .withSuccessHandler(onSaveSelectedPodSuccess)
      .saveSelectedPodToSheet(arrayToBePassed);
  };

  window.onSaveSelectedPodSuccess = function(textValueCurrent) {
    //alert('Saved Pod: ' + textValueCurrent);
  };

  window.onSaveSelectedPodFailure = function(err) {
    alert('There was an error saving Pod! ' + err.message);
  };


  /**
   * These functions are to run operations in ui.gs.
   *
   */

  function processStudentData() {
    google.script.run.sysProcessStudentData();
  }
  function createPods() {
    google.script.run.sysCreatePods();
  }
  function createReports() {
    google.script.run.sysCreateReports();
  }
  function setStudentNames() {
    google.script.run.sysSetStudentNames();
  }
  function archiveReports() {
    google.script.run.sysArchiveReports();
  }
  function changeMathStandards() {
    google.script.run.sysChangeMathStandards();
  }
  function backupReports() {
    google.script.run.sysBackupReports();
  }
  function restoreReports() {
    google.script.run.sysRestoreReports();
  }
  function setTemplate(selectedGrade) {
    google.script.run.sysSetTemplate(selectedGrade);
  }
  function setFolderLevel(selectedLevel) {
    google.script.run.sysSetFolderLevel(selectedLevel);
  }
  function setFolderLevel(selectedLevel) {
    google.script.run.sysSetFolderLevel(selectedLevel);
  }
  function startSearchReplaceByPod() {
    google.script.run.sysSearchReplaceByPod(document.getElementById("stringToFind").value, document.getElementById("stringToReplace").value);
  }

</script >
